- flash.each do |type, message|
  - css = type.to_s == 'alert' ? 'bg-red-50 border-red-400 text-red-700' : 'bg-green-50 border-green-400 text-green-700'
  div class="mb-4 px-4 py-3 border-l-4 rounded-r #{css}"
    = message
